<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>나는 통계를 보여줘요 안농</title>
  <link rel="stylesheet" type="text/css" href="/index.css" />
</head>

<body>

  <div class="padding">
    <div class="row">
      <div class="boxs">
        <div class="row">

          <div class="staticBox">
            <div class="bankMoney card">
              <div class="card-header no-border d-flex">
                <span>은행 총 잔고</span>
                <span class="flex"></span>
                <img class="refresh-button" src="/refresh.svg">
              </div>
              <div class="card-body">
                <div class="money-count">
                  <span class="flex"></span>
                  <span class="money-number">1000</span>
                  <span class="money-won">원</span>
                </div>
              </div>
            </div>
          </div>

          <div class="staticBox">
            <div class="bankMoney card">
              <div class="card-header no-border d-flex">
                <span>카뱅 유저</span>
                <span class="flex"></span>
                <img class="refresh-button" src="/refresh.svg">
              </div>
              <div class="card-body">
                <div class="money-count">
                  <span class="flex"></span>
                  <span class="money-number">1</span>
                  <span class="money-won">명</span>
                </div>
              </div>
            </div>
          </div>

          <div class="transaction-history">
            <div class="card pb-3">
              <div class="pb3">
                <div class="pb3-header">
                  <div>
                    <h3>실시간 거래 내역</h3>
                  </div>
                </div>
              </div>
              <div class="transaction-list list-row">
                <div class="list-item">
                  <img class="send-pic" src="/send.svg">
                  <div>
                    a
                  </div>
                </div>
                <div class="list-item">
                  <img class="send-pic" src="/receive.svg">
                  a
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>