<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>나는 통계를 보여줘요 안농</title>
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <link rel="components" href="/components/card.html" />
</head>

<body>

  <div class="padding">
    <div class="row">
      <div class="boxs">
        <div class="row">

          <div class="staticBox">
            <div class="bankMoney card">
              <div class="card-header no-border d-flex">
                <span>은행 총 잔고</span>
                <span class="flex"></span>
                <img class="refresh-button" src="/refresh.svg">
              </div>
              <div class="card-body">
                <div class="money-count">
                  <span class="flex"></span>
                  <span class="money-number">1000</span>
                  <span class="money-won">원</span>
                </div>
              </div>
            </div>
          </div>

          <div class="staticBox">
            <div class="bankMoney card">
              <div class="card-header no-border d-flex">
                <span>카뱅 유저</span>
                <span class="flex"></span>
                <img class="refresh-button" src="/refresh.svg">
              </div>
              <div class="card-body">
                <div class="money-count">
                  <span class="flex"></span>
                  <span class="money-number">1</span>
                  <span class="money-won">명</span>
                </div>
              </div>
            </div>
          </div>

          <div class="transaction-history">
            <div class="card pb-3">
              <div class="pb3">
                <div class="pb3-header">
                  <div>
                    <h3>실시간 거래 내역</h3>
                    <small class="text-muted">실시간으로 거래하고있는 내역을 보여줍니다</small>
                  </div>
                </div>
              </div>
              <div class="transaction-list list-row">
                <div class="list-item">
                  <img class="send-pic" src="/send.svg">
                  <div class="flex">
                    <h4>
                      0101010101011 &#45;> 0101010101000
                    </h4>
                    <span>송금하셨습니다</span>
                  </div>
                </div>

                <receive-log accountId="0101010101000" receiverId="0101010101011" money="1000"></receive-log>
                <receive-log accountId="0101010101000" receiverId="0101010101011" money="1000"></receive-log>
                <receive-log accountId="0101010101000" receiverId="0101010101011" money="1000"></receive-log>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7">
        <div class="card">
          <div class="p-3-4">
            <div class="d-flex mb-3">
              <div>
                <h3>서버 에러 로그</h3>
                <small class="text-muted">
                  서버에서 생기는 로그를 밝혀줍니다
                </small>
              </div>
            </div>
            <div class="p-2">
              <div id="error-box" class="error-box list-row">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/index.js"></script>
  <script type="text/javascript" src="/components/errorLogs.js"></script>
  <script type="text/javascript" src="/components/receiveLog.js"></script>
</body>

</html>