<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>송 수금 내역</title>
</head>

<body>
  <script type="text/javascript">
    const sse = new EventSource('/sse');

    sse.addEventListener('send', ({ data }) => {

      const parsedData = JSON.parse(data);

      const message = document.createElement('div');
      message.innerText = parsedData.account.accountId + ' -> ' + parsedData.reciverId + '   ' + parsedData.money + '원 송금';
      document.body.appendChild(message);
    })

    sse.addEventListener('receive', ({ data }) => {

      const parsedData = JSON.parse(data);

      const message = document.createElement('div');
      message.innerText = parsedData.account.accountId + ' <- ' + parsedData.senderId + '   ' + parsedData.money + '원 수금';
      document.body.appendChild(message);
    })
  </script>
</body>

</html>